<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Members Only | <%= currentPage === "register" ? "Register" : "Log In" %>
    </title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <main class="auth-content">
      <h2>
        <% if (currentPage === "register") { %> Create New Account <% } else {
        %> Log In to Your Account <% } %>
      </h2>

      <section class="auth-section">
        <form
          action="/<%= currentPage === 'register' ? 'register' : 'login' %>"
          method="POST"
          class="<%= currentPage %>-form"
        >
          <%- include("partials/authErrors.ejs", { errors }) %>

          <!-- prettier-ignore -->
          <% if (currentPage === "register") { %>
          <div class="form-group">
            <label for="first-name">First Name</label>
            <input
              type="text"
              name="firstName"
              id="first-name"
              class="first-name"
              value="<%= previousValue.firstName || '' %>"
              placeholder="Enter your first name"
              required
            />
          </div>

          <div class="form-group">
            <label for="last-name">Last Name</label>
            <input
              type="text"
              name="lastName"
              id="last-name"
              class="last-name"
              value="<%= previousValue.lastName || '' %>"
              placeholder="Enter your last name"
              required
            />
          </div>

          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              class="username"
              minlength="3"
              maxlength="26"
              value="<%= previousValue.username || '' %>"
              placeholder="Enter your username"
              required
            />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="email"
              value="<%= previousValue.email || '' %>"
              placeholder="Enter your email"
              required
            />
          </div>
          <% } %>

          <!-- prettier-ignore -->
          <% if (currentPage === "login") { %>
          <div class="form-group">
            <label for="identifier">Email or Username</label>
            <input
              type="text"
              name="identifier"
              id="identifier"
              class="identifier"
              value="<%= previousValue.identifier || '' %>"
              placeholder="Enter your email or username"
              required
            />
          </div>
          <% } %>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="password"
              minlength="<%= currentPage === 'register' ? '6' : '' %>"
              placeholder="Enter your password"
              required
            />
          </div>

          <% if (currentPage === "register") { %>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input
              type="password"
              name="confirmPassword"
              id="confirm-password"
              class="confirm-password"
              placeholder="Enter your password again"
              required
            />
          </div>

          <% } %>

          <button type="submit" class="btn-<%= currentPage %>">
            <%= currentPage === "register" ? "Register" : "Log In" %>
          </button>
        </form>
      </section>

      <section class="navigation-section">
        <% if (currentPage === "register") { %>
        <span>Already have an account? <a href="/login">Log In</a></span>

        <% } else if (currentPage === "login") { %>
        <span>Don't have an account? <a href="/register">Register</a></span>
        <% } %>
      </section>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
