<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only | Feed</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs", { currentPage }) %>

    <main class="feed-content">
      <% if (user) { %>
      <section class="welcome-section">
        <h3>Welcome, <%= user.username %>!</h3>

        <% if (user.membership === "basic") { %>
        <p>
          You have a <%= user.membership %> membership. Upgrade to premium to
          access other features!
        </p>
        <% } %>
      </section>

      <section class="add-message-section">
        <button type="button" class="btn-add-message">Add Message</button>
        <form action="/feed/add-message" method="POST" class="add-message-form">
          <label for="new-message">Add New Message</label>

          <textarea
            name="newMessage"
            id="new-message"
            class="new-message"
            placeholder="Insert messages here..."
          ></textarea>

          <div class="add-message-actions">
            <button type="submit" class="btn-submit">Submit</button>
            <button type="button" class="btn-cancel">Cancel</button>
          </div>
        </form>
      </section>
      <% } %>

      <section class="messages-section">
        <% if (messages && messages.length > 0) { %>
        <!-- prettier-ignore -->
        <% messages.forEach(({username, createdAt, message}) => { %>
        <article class="message-card">
          <div class="message-header">
            <p class="message-username"><%= username %></p>
          </div>

          <div class="message-body">
            <p class="message-date"><%= createdAt %></p>
            <p class="message-content"><%= message %></p>
          </div>
        </article>
        <% }) %>

        <!-- prettier-ignore -->
        <% } else { %>
        <div class="no-message-notice">
          <p>No message found yet. Be the first to post!</p>
        </div>
        <% } %>
      </section>
    </main>

    <script>
      const addMessageButton = document.querySelector(".btn-add-message");
      const addMessageForm = document.querySelector(".add-message-form");
      const cancelButton = document.querySelector(".btn-cancel");

      function toggleAddMessageForm() {
        if (!addMessageForm) return;

        addMessageForm.classList.toggle("display");
        if (addMessageForm.classList.contains("display")) {
          addMessageForm.style.display = "flex";
        } else {
          addMessageForm.style.display = "none";
        }
      }

      function closeAddMessageForm() {
        if (!addMessageForm) return;

        addMessageForm.classList.remove("display");
        addMessageForm.style.display = "none";
      }

      if (addMessageButton) {
        addMessageButton.addEventListener("click", toggleAddMessageForm);
      }

      if (cancelButton) {
        cancelButton.addEventListener("click", closeAddMessageForm);
      }

      if (addMessageForm) {
        addMessageForm.addEventListener("submit", async (event) => {
          event.preventDefault();

          document
            .querySelectorAll(".new-message-validation-messages")
            .forEach((el) => el.remove());

          const newMessage = document.querySelector(".new-message");
          const trimmedNewMessage = newMessage.value.trim();

          if (trimmedNewMessage === "") {
            const ul = document.createElement("ul");
            ul.classList.add("new-message-validation-messages");

            const li = document.createElement("li");
            li.textContent = "Please enter some text.";

            ul.appendChild(li);
            addMessageForm.insertBefore(ul, newMessage);

            return;
          }

          const response = await fetch("/feed/add-message", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ newMessage: trimmedNewMessage }),
          });

          const result = await response.json();
          if (result.errors) {
            const ul = document.createElement("ul");
            ul.classList.add("new-message-validation-messages");

            result.errors.forEach((error) => {
              const li = document.createElement("li");
              li.textContent = error.msg;
              ul.appendChild(li);
            });

            addMessageForm.insertBefore(ul, newMessage);
          } else {
            addMessageForm.reset();
            location.reload();
          }
        });
      }
    </script>
  </body>
</html>
