<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only | Feed</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs", { currentPage }) %>

    <main class="feed-content">
      <% if (user) { %>
      <section class="welcome-section">
        <h3>Hi, <%= user.username %>!</h3>

        <% if (user.membership === "basic") { %>
        <p>
          You're on a <%= user.membership %> membership. Upgrade to premium to
          <button type="button" class="btn-upgrade-to-premium">here</button>
          see when and who sent each message.
        </p>
        <% } %>

        <dialog class="upgrade-to-premium-modal">
          <form
            action="/feed/upgrade-to-premium"
            method="POST"
            class="upgrade-to-premium-form"
          >
            <div class="secret-code-hints">
              <h4>Answer these questions to unlock premium!</h4>
              <ul>
                <li>I store values but can change anytime.</li>
                <li>I repeat tasks until told to stop.</li>
                <li>I decide what happens next.</li>
                <li>I hold many things inside me.</li>
              </ul>
              <p>Hint: Take the first letter of each point.</p>
            </div>

            <div class="secret-code-field">
              <label for="secret-code">Secret Code</label>
              <input
                type="text"
                name="secretCode"
                id="secret-code"
                class="secret-code"
                required
              />
            </div>

            <div class="upgrade-to-premium-actions">
              <button type="submit" class="btn-confirm">Confirm</button>
              <button type="button" class="btn-close">Close</button>
            </div>
          </form>
        </dialog>
      </section>

      <section class="add-message-section">
        <button type="button" class="btn-add-message">Add Message</button>
        <form action="/feed/add-message" method="POST" class="add-message-form">
          <label for="new-message">Add New Message</label>

          <textarea
            name="newMessage"
            id="new-message"
            class="new-message"
            placeholder="Insert messages here..."
            required
          ></textarea>

          <div class="add-message-actions">
            <button type="submit" class="btn-submit">Submit</button>
            <button type="button" class="btn-cancel">Cancel</button>
          </div>
        </form>
      </section>
      <% } %>

      <section class="messages-section">
        <% if (messages && messages.length > 0) { %>
        <!-- prettier-ignore -->
        <% messages.forEach(({username, createdAt, message}) => { %>
        <article class="message-card">
          <div class="message-header">
            <p class="message-username"><%= username %></p>
          </div>

          <div class="message-body">
            <p class="message-date"><%= createdAt %></p>
            <p class="message-content"><%= message %></p>
          </div>
        </article>
        <% }) %>

        <!-- prettier-ignore -->
        <% } else { %>
        <div class="no-message-notice">
          <p>No message found yet. Be the first to post!</p>
        </div>
        <% } %>
      </section>
    </main>

    <script>
      // Upgrade to premium handling
      const upgradeToPremiumButton = document.querySelector(
        ".btn-upgrade-to-premium"
      );
      const upgradeToPremiumModal = document.querySelector(
        ".upgrade-to-premium-modal"
      );

      const upgradeToPremiumForm = document.querySelector(
        ".upgrade-to-premium-form"
      );

      const closeButton = document.querySelector(".btn-close");

      function openUpgradeToPremiumModal() {
        if (upgradeToPremiumModal) {
          upgradeToPremiumModal.showModal();
        }
      }

      function closeUpgradeToPremiumModal() {
        if (upgradeToPremiumModal) {
          upgradeToPremiumModal.close();
        }

        if (upgradeToPremiumForm) {
          upgradeToPremiumForm.reset();
        }
      }

      if (upgradeToPremiumButton) {
        upgradeToPremiumButton.addEventListener(
          "click",
          openUpgradeToPremiumModal
        );
      }

      if (closeButton) {
        closeButton.addEventListener("click", closeUpgradeToPremiumModal);
      }

      if (upgradeToPremiumForm) {
        upgradeToPremiumForm.addEventListener("submit", async (event) => {
          event.preventDefault();

          document
            .querySelectorAll(".secret-code-validation-messages")
            .forEach((el) => el.remove());

          const secretCode = document.querySelector(".secret-code");
          const trimmedSecretCodeValue = secretCode.value.trim();

          if (trimmedSecretCodeValue === "") {
            const ul = document.createElement("ul");
            ul.classList.add("secret-code-validation-messages");

            const li = document.createElement("li");
            li.textContent = "Please enter the code.";

            ul.appendChild(li);

            const secretCodeField =
              document.querySelector(".secret-code-field");
            secretCodeField.insertBefore(ul, secretCode);

            return;
          }

          const response = await fetch("/feed/upgrade-to-premium", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ secretCode: trimmedSecretCodeValue }),
          });

          const result = await response.json();
          if (result.errors) {
            const ul = document.createElement("ul");
            ul.classList.add("secret-code-validation-messages");

            result.errors.forEach((error) => {
              const li = document.createElement("li");
              li.textContent = error.msg;
              ul.appendChild(li);
            });

            const secretCodeField =
              document.querySelector(".secret-code-field");
            secretCodeField.insertBefore(ul, secretCode);

            upgradeToPremiumForm.reset();
          } else {
            alert("Awesome! You're now a premium member!");
            location.reload();
          }
        });
      }

      // Add message handling
      const addMessageButton = document.querySelector(".btn-add-message");
      const addMessageForm = document.querySelector(".add-message-form");
      const cancelButton = document.querySelector(".btn-cancel");

      function toggleAddMessageForm() {
        if (!addMessageForm) return;

        addMessageForm.classList.toggle("display");
        if (addMessageForm.classList.contains("display")) {
          addMessageForm.style.display = "flex";
        } else {
          addMessageForm.style.display = "none";
        }
      }

      function closeAddMessageForm() {
        if (!addMessageForm) return;

        addMessageForm.classList.remove("display");
        addMessageForm.style.display = "none";
      }

      if (addMessageButton) {
        addMessageButton.addEventListener("click", toggleAddMessageForm);
      }

      if (cancelButton) {
        cancelButton.addEventListener("click", closeAddMessageForm);
      }

      if (addMessageForm) {
        addMessageForm.addEventListener("submit", async (event) => {
          event.preventDefault();

          document
            .querySelectorAll(".new-message-validation-messages")
            .forEach((el) => el.remove());

          const newMessage = document.querySelector(".new-message");
          const trimmedNewMessage = newMessage.value.trim();

          if (trimmedNewMessage === "") {
            const ul = document.createElement("ul");
            ul.classList.add("new-message-validation-messages");

            const li = document.createElement("li");
            li.textContent = "Please enter some text.";

            ul.appendChild(li);
            addMessageForm.insertBefore(ul, newMessage);

            return;
          }

          const response = await fetch("/feed/add-message", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ newMessage: trimmedNewMessage }),
          });

          const result = await response.json();
          if (result.errors) {
            const ul = document.createElement("ul");
            ul.classList.add("new-message-validation-messages");

            result.errors.forEach((error) => {
              const li = document.createElement("li");
              li.textContent = error.msg;
              ul.appendChild(li);
            });

            addMessageForm.insertBefore(ul, newMessage);
          } else {
            addMessageForm.reset();
            location.reload();
          }
        });
      }
    </script>
  </body>
</html>
