<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only | Feed</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs", { currentPage }) %>

    <main class="feed-content">
      <% if (user) { %>
      <section class="welcome-section">
        <h3>Welcome, <%= user.username %>!</h3>

        <% if (user.membership === "basic") { %>
        <p>
          You have a <%= user.membership %> membership. Upgrade to premium to
          access other features!
        </p>
        <% } %>
      </section>

      <section class="add-message-section">
        <button type="button" class="btn-add-message">Add Message</button>
        <form
          action="/feed/add-message"
          method="POST"
          class="add-message-form <%= errors.length > 0 ? 'display' : '' %>"
        >
          <label for="new-message">Add New Message</label>
          <%- include("./partials/formErrors.ejs", { errors }) %>
          <textarea
            name="newMessage"
            id="new-message"
            class="new-message"
            placeholder="Insert messages here..."
            required
          ></textarea>

          <div class="add-message-actions">
            <button type="submit" class="btn-submit">Submit</button>
            <button type="button" class="btn-cancel">Cancel</button>
          </div>
        </form>
      </section>
      <% } %>

      <section class="messages-section">
        <% if (messages && messages.length > 0) { %>
        <!-- prettier-ignore -->
        <% messages.forEach(({username, createdAt, message}) => { %>
        <article class="message-card">
          <div class="message-header">
            <p class="message-username"><%= username %></p>
          </div>

          <div class="message-body">
            <p class="message-date"><%= createdAt %></p>
            <p class="message-content"><%= message %></p>
          </div>
        </article>
        <% }) %>

        <!-- prettier-ignore -->
        <% } else { %>
        <div class="no-message-notice">
          <p>No message found yet. Be the first to post!</p>
        </div>
        <% } %>
      </section>
    </main>

    <script>
      const addMessageButton = document.querySelector(".btn-add-message");
      const addMessageForm = document.querySelector(".add-message-form");
      const cancelButton = document.querySelector(".btn-cancel");

      function toggleAddMessageForm() {
        if (!addMessageForm) return;

        addMessageForm.classList.toggle("display");
        if (addMessageForm.classList.contains("display")) {
          addMessageForm.style.display = "flex";
        } else {
          addMessageForm.style.display = "none";
        }
      }

      function closeAddMessageForm() {
        if (!addMessageForm) return;

        addMessageForm.classList.remove("display");
        addMessageForm.style.display = "none";
      }

      if (addMessageButton) {
        addMessageButton.addEventListener("click", toggleAddMessageForm);
      }

      if (cancelButton) {
        cancelButton.addEventListener("click", closeAddMessageForm);
      }
    </script>
  </body>
</html>
